{% extends 'core/base.html' %}
{% block title %}Publicaciones{% endblock %}
{% block header %}site-header{% endblock %}
{% block content %}
{% load static %}
<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
    <div class="contenedor-anuncios">   
        {% for rooms in room %}
            {% if user.username == rooms.autor %}
            <article class="anuncio">
                <div class="slider">
                    <ul>
                        <li>
                            <img src="{{rooms.image1.url}}" alt="Anuncios">
                        </li>
                        <li>
                            <img src="{{rooms.image2.url}}" alt="Anuncios">
                        </li>
                        <li>
                            <img src="{{rooms.image3.url}}" alt="Anuncios">
                        </li>
                        <li>
                            <img src="{{rooms.image4.url}}" alt="Anuncios">
                        </li>
                    </ul>
                </div>
                <div class="tm-article-pad">
                    <header><h3 class="text-uppercase tm-article-title-2">{{rooms.title}}</h3></header>
                    <p>{{rooms.description}}</p>
                    <a href="{% url 'anuncio' rooms.title %}" class="text-uppercase btn-primary tm-btn-primary">Mas informacion.</a>
                </div>                                
            </article> 
            {% endif %}
        {% endfor %}
    </div>    
</div>
{% endblock %}